{% extends "store/base.html" %}
{% load bootstrap5 %}

{% block title %}
    {{ title|default:"Configure Auto Image Search" }}
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1>{{ title|default:"Configure Automatic Product Image Search" }}</h1>
    <hr>

    <div class="card">
        <div class="card-header">
            Search Settings
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div class="mt-3">
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Start Image Search
                        </button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>


    <div class="mt-4 mb-5">
        <a href="{% url 'store:home' %}" class="btn btn-secondary">Back to Home</a>
        {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" class="btn btn-info">Go to Admin</a>
        {% endif %}
    </div>

</div>
{% endblock content %}
